<div>

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <th> Project</th>
        <th> Information </th>

        </thead>
        <tbody>

        <tr>
            <td class="col-sm-4">Name</td>
            <td class="col-sm-4">{{userInfo.name}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Company</td>
            <td class="col-sm-4">{{userInfo.company}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Blog</td>
            <td class="col-sm-4">{{userInfo.blog}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Location</td>
            <td class="col-sm-4">{{userInfo.location}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Biography</td>
            <td class="col-sm-4">{{userInfo.bio}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Image</td>
            <td><img ng-src="{{userInfo.avatar_url}}" alt="Description" /></td>
        </tr>
        </tbody>
    </table>
</div>