<div>

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <th> Project</th>
        <th> Information </th>

        </thead>
        <tbody>

        <tr>
            <td class="col-sm-4">Project Id</td>
            <td class="col-sm-4">{{projectInfo.id}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Project Name</td>
            <td class="col-sm-4">{{projectInfo.name}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Project Full Name</td>
            <td class="col-sm-4">{{projectInfo.full_name}}</td>
        </tr>

        <tr>
            <td class="col-sm-4">Project Description</td>
            <td class="col-sm-4">{{projectInfo.description}}</td>
        </tr>
        </tbody>
    </table>
</div>