<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.facebook.com/sanjoysust">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/sanjoykdeb">
                        Tweeter
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/+sanjoykumerdeb">
                        Google+
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</footer>