<div class="wrapper" ng-controller="shellController">
    <!--top nab sidebar-->
    <ng-include src=" 'app/components/layout/templates/tab-nab-sidebar.html' "></ng-include>
    <div class="main-panel">
        <!--top nab bar-->
        <ng-include src=" 'app/components/layout/templates/top-nab-bar.html' "></ng-include>
        <div class="container">
            <div ui-view></div>
        </div>

        <!--footer-->
        <ng-include src=" 'app/components/layout/templates/footer-view.html' "></ng-include>
    </div>
</div>

