<div class="sidebar" data-background-color="white" data-active-color="danger">


    <div class="sidebar-wrapper">
        <div ng-click="clickOnSidebar('logo')" class="logo">
            <a ui-sref="home" class="simple-text">
                Freight Management
            </a>
        </div>

        <ul class="nav">
            <li ng-click="clickOnSidebar('home')" class="{{navbar['home']}}">
                <a ui-sref="home">
                    <i class="ti-panel"></i>
                    <p>Home</p>
                </a>
            </li>

            <li ng-click="clickOnSidebar('place')" class="{{navbar['place']}}">
                <a ui-sref="place">
                    <i class="ti-plug"></i>
                    <p>Place</p>
                </a>
            </li>

            <li ng-click="clickOnSidebar('path')" class="{{navbar['path']}}">
                <a ui-sref="path">
                    <i class="ti-map"></i>
                    <p>Path</p>
                </a>
            </li>

         <!--   <li ng-click="clickOnSidebar('about')" class="{{navbar['about']}}">
                <a ui-sref="about">
                    <i class="ti-bell"></i>
                    <p>About</p>
                </a>
            </li>
            <li ng-click="clickOnSidebar('employee')" class="{{navbar['employee']}}">
                <a ui-sref="employee">
                    <i class="ti-view-list-alt"></i>
                    <p>Employee</p>
                </a>
            </li>-->
            <li ng-click="clickOnSidebar('github')" class="{{navbar['github']}}">
                <a ui-sref="github">
                    <i class="ti-text"></i>
                    <p>Github</p>
                </a>
            </li>
            <li ng-click="clickOnSidebar('github_user')" class="{{navbar['github_user']}}">
                <a ui-sref="github_user">
                    <i class="ti-user"></i>
                    <p>Developer Info</p>
                </a>
            </li>
        <!--    <li>
                <a href="icons.html">
                    <i class="ti-pencil-alt2"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="ti-map"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="ti-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>-->
        </ul>
    </div>
</div>
