<div class="sidebar" data-background-color="white" data-active-color="danger">


    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.flopcoder.blogspot.com" class="simple-text">
                Flop Coder
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a ui-sref="home">
                    <i class="ti-panel"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a ui-sref="about">
                    <i class="ti-user"></i>
                    <p>About</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="ti-view-list-alt"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="ti-text"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="ti-pencil-alt2"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="ti-map"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="ti-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>
