
<div ng-controller="pathController">

    <div class = "col-md-6 text-center">
        <b>Source</b>
        <div  class="input-group">
            <input name="placeSource" type="text" class="form-control" ng-model="searchPlaceSource"/>
            <span class="input-group-btn"><button class="btn btn-primary" ng-click="searchSource()">Search</button></span>
        </div>

        <div class="col-lg-12" id="mapSource">Here Map to Show</div>

        <form class="col-lg-12" name="resFormSource" class="form-horizontal" novalidate
              ng-submit="send()">
            <div class="form-group">
                <label for="resName" class="col-xs-2 control-label">Name</label>
                <div class="col-xs-10">
                    <input name="resNameSource" type="text" class="form-control"
                           ng-model="placeSource.name" required />
                </div>
            </div>
            <div class="form-group">
                <label for="resLat" class="col-xs-2 control-label">Latitude</label>
                <div class="col-xs-10">
                    <input name="resLatSource" type="number" class="form-control"
                           ng-model="placeSource.lat" required />
                </div>
            </div>
            <div class="form-group">
                <label for="resLng" class="col-xs-2 control-label">Longitude</label>
                <div class="col-xs-10">
                    <input name="resLngSource" type="number" class="form-control"
                           ng-model="placeSource.lng" required />
                </div>
            </div>
        </form>
    </div>
    <div class = "col-md-6 text-center">
        <b>Destination</b>
        <div  class="input-group">
            <input name="place" type="text" class="form-control" ng-model="searchPlaceDestination"/>
            <span class="input-group-btn"><button class="btn btn-primary" ng-click="searchDestination()">Search</button></span>
        </div>

        <div class="col-lg-12" id="mapDestination">Here Map to Show</div>

        <form class="col-lg-12" name="resFormDestination" class="form-horizontal" novalidate
              ng-submit="send()">
            <div class="form-group">
                <label for="resName" class="col-xs-2 control-label">Name</label>
                <div class="col-xs-10">
                    <input name="resNameDestination" type="text" class="form-control"
                           ng-model="placeDestination.name" required />
                </div>
            </div>
            <div class="form-group">
                <label for="resLat" class="col-xs-2 control-label">Latitude</label>
                <div class="col-xs-10">
                    <input name="resLatDestination" type="number" class="form-control"
                           ng-model="placeDestination.lat" required />
                </div>
            </div>
            <div class="form-group">
                <label for="resLng" class="col-xs-2 control-label">Longitude</label>
                <div class="col-xs-10">
                    <input name="resLngDestination" type="number" class="form-control"
                           ng-model="placeDestination.lng" required />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6 text-left">
        <label>Cost</label>
        <input type="number" ng-model="cost"/>
        <label>Container Size</label>
        <select ng-model="containerSize" ng-options="containerSize for containerSize in containerSizes"></select>
    </div>

    <div class="col-md-6 text-right input-group">
        <label>Route Type</label>
        <select ng-model="routeType" ng-options="routeType for routeType in routeTypes"></select>
        <label>Duration</label>
        <input type="number" ng-model="duration"/>
    </div>

    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary" ng-click="savePath()">Add</button>
    </div>


</div>
